<% provide(:title, @grocery_list.name) %>
<%= render 'shared/user_header' %>
<div class="span12">
	<div style="float: right;">
  		<%= link_to "Add Item", new_grocery_list_item_path(:grocery_list_id => @grocery_list.id), class: "btn btn-large btn-primary" %>
	</div>
    <h3><%= @grocery_list.name%></h3>
    <% if !@grocery_list_items.empty? %>
  		<table class="table table-striped">
   			<%= render @grocery_list_items %>
  		</table>
  		<br />
  		<%= will_paginate @grocery_list_items %>
  	<% end %>
  	<% if !@bought_grocery_list_items.empty? %>
    	<h5>Bought Items</h5>
  		<table class="table table-striped">
   			<%= render @bought_grocery_list_items %>
  		</table>
  		<br />
  		<%= will_paginate @bought_grocery_list_items %>
  	<% end %>
  	<% if !@grocery_list_items.empty? %>
  		<!--If there are remaining non-bought items, force an ok on complete-->
  		<!--button class="btn" data-toggle="modal" data-target="#myModal">
  			Complete
		</button-->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#grocListCComplete">
  			Complete
		</button>
  	<% elsif @grocery_list_items.empty? && 
  		!@bought_grocery_list_items.empty? %>
  		<!--If only bought items remain, allow unconditional complete-->
  		<%= link_to "Complete List", complete_grocery_list_path(
  			@grocery_list), class: "btn" %>
  	<% end %>
</div>
<%= render 'dialogs/grocery_list_confirm_complete', :grocery_list => @grocery_list %>