<% provide(:title, @grocery_list.name) %>
<%= render 'shared/user_header' %>
<div class="span12">
	<% if !@grocery_list.complete? %>
		<div style="float: right;">
  			<%= link_to "Add Item", new_grocery_list_grocery_list_item_path(@grocery_list), class: "btn btn-large btn-primary" %>
		</div>
	<% else %>
		<p class="badge badge-success">This is a completed list. Please 
			<%= link_to "re-activate", uncomplete_grocery_list_path(@grocery_list) %> to edit</p>
	<% end %>
    <h3><%= @grocery_list.name%></h3>
    <% if !@grocery_list_items.empty? %>
  		<table class="table table-striped">
   			<%= render @grocery_list_items %>
  		</table>
  		<br />
  		<%= will_paginate @grocery_list_items %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for ([@grocery_list, GroceryListItem.new]) do |form| %>
      <%= form.fields_for :item do |f| %>
          <%= f.text_field :name, :autofocus => true %>
      <% end %>
      <%= form.submit %>
    <% end %>
  </div>
</div>

  	<% end %>
  	<% if !@bought_grocery_list_items.empty? %>
    	<div style="float: right;" >
    		<h5><span class="span2">Price</span><h5>
    	</div>
    	<h5>Bought Items</h5>
  		<table class="table table-striped">
   			<%= render @bought_grocery_list_items %>
   			<tfoot>
   				<td></td>
   				<td><div class='text-center'>Total:</div></td>
   				<td class="span2"><%= number_to_currency(@grocery_list.bought_item_price_total) %></td>
   			</tfoot>
  		</table>
  		<br />
  		<%= will_paginate @bought_grocery_list_items %>
  	<% end %>
  	<% if !@grocery_list.complete? && !@grocery_list_items.empty? %>
  		<!--If there are remaining non-bought items, force an ok on complete-->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#grocListCComplete">
  			Complete List
		</button>
  	<% elsif !@grocery_list.complete? && @grocery_list_items.empty? && 
  		!@bought_grocery_list_items.empty? %>
  		<!--If only bought items remain, allow unconditional complete-->
  		<%= link_to "Complete List", complete_grocery_list_path(
  			@grocery_list), class: "btn btn-primary btn-lg" %>
  	<% end %>
</div>
<%= render 'dialogs/grocery_list_confirm_complete', :grocery_list => @grocery_list %>
<% if !flash[:original_grocery_list_item].nil? %>
	<%= render 'dialogs/grocery_list_item_price', :grocery_list => @grocery_list, :grocery_list_item => flash[:original_grocery_list_item], :form_errors => flash[:form_errors], :hide => "DO_NOT_HIDE" %>
<% end %>